@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: rgb(89, 181, 243);

  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: auto;
  height: 200px;
  color: white;
  border-radius: 8px;
  background: green;
  margin: 40px;
  padding: 40px;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 20px;
}
