@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f2726a;
  --primary-background-color: #dadada;
  --primary-black: black;
  --primary-red: red;
  --primary-green: green;
  --primary-white: white;

  --primary-margin: 16px;
  --primary-padding: 16px;

  --primary-border-radius: 8px;
  --primary-font-size-button: 35px;
}

body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to right, #4daf54, #3d8880);;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box {
  background: var(--primary-black);
  width: 70px;
  height: 70px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.search-box_input {
  width: 100%;
  height: 100%;
  background: transparent;
  color: var(--primary-white);
  padding: 20px 100px 20px 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.search-box_btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  font-size: 25px;
  border: none;
  outline: none;
}

.search-box.open {
  width: 400px;
}



